app:
  port: 8000

log:
  level: info

llm:
  model: qwen3.5-plus
  api_key: "replace-with-your-key"
  base_url: https://dashscope.aliyuncs.com/compatible-mode/v1

sandbox:
  image: gui-sandbox:dev
  tool_profile: task
  public_host: "The server IP where your sandbox is located"
  docker_base_url: "your docker url, like tcp://127.0.0.1:2375"
  healthcheck_host: "The server IP where your sandbox is located"
  start_url: chrome://new-tab-page/
  display_width: 1920
  display_height: 1080

